<!DOCTYPE html>
<html lang="uk">
<head>
    {{> head pageTitle=pageTitle }}
</head>
<body>
<div class="layout">
    {{> header }}
    {{> aside }}
    <main class="main">
        {{> @partial-block }}
    </main>
    {{> footer studentGroup="6.1213-1" studentEmail="maximivanov00000@Gmail.com"}}
</div>
<script type="module" src="/src/main.js"></script>
</body>
</html>